* {
    background-color: #e9eef2;
}

.calculator {
    max-width: 300px;
    margin: 150px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #022129;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#result{
    background-color: #72dcf6;
    size: 50px;
}

.btn {
    min-width: 60px;
    min-height: 60px;
    font-size: 20px;
    margin: 2px;
}

input {
    text-align: right;
    font-size: 24px;
    margin-bottom: 10px;
}